# =========================
# Python
# =========================
__pycache__/
*.py[cod]

# =========================
# Virtual Environments
# =========================
.venv/
venv/
env/

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# Logs
# =========================
*.log

# =========================
# Geospatial Temp Files
# =========================
*.aux.xml
*.ovr
*.tfw
*.qmd~

*.tif
*.tiff

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db